/* 
declaration block::after

selector{ 
    property: value;
    property2: value;
}
*/

body{
    background-color: #120c4b;
    color: whitesmoke;
}

nav{
    height: 600px;
    width: 100%;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center; 
    margin-top: 200px;
}

#memeimage{
    margin: 200px;
    width: 400px;
}

h1{
    text-align: center;
}
/* styles the palindrome section */
#palindromeForm
{
    background-color: white;
    color: black;
    padding: 15px;
    margin: 20px auto;
    width: 350px;
    border-radius: 10px;
}

/* styles palindrome message */
#palindromeMessage
{
    color: rgb(204, 204, 219);
    font-family: Arial;
}

/* 
declaration block::after

selector{ 
    property: value;
    property2: value;
}
*/

body{
    background-color: #120c4b;
    color: whitesmoke;
}

nav{
    height: 600px;
    width: 100%;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center; 
    margin-top: 200px;
}

#memeimage{
    margin: 200px;
    width: 400px;
}

h1{
    text-align: center;
}
/* styles the palindrome section */
#palindromeForm
{
    background-color: white;
    color: black;
    padding: 15px;
    margin: 20px auto;
    width: 350px;
    border-radius: 10px;
}

/* styles palindrome message */
#palindromeMessage
{
    color: rgb(204, 204, 219);
    font-family: Arial;
}